/* global.css */
@import "tailwindcss";

:root {
  --nav-bg: #ffffffcc;
  --nav-border: #e5e5e5;
  --brand-color: #171717; /* light mode text */
}

.dark {
  --nav-bg: #0f0f0fcc;
  --nav-border: #1f1f1f;
  --brand-color: #ff3b3b; /* red in dark mode */
}
